@import "~bootstrap/scss/bootstrap";



$hover-link : #ADADAD;
$footer-header: #2F3039;
$darks: #211F27;
$hovers: #3E7FD1;
$focus: #4996F7;



.nav-link{
    color: $white;
    &:hover{
        color:  $hover-link;
    }
}


.btn{

    padding: 1rem 2rem;
    font-weight: 500;
    &:hover {
        background-color: $hovers;
    }
    &:focus {
        background-color: $focus;
    }
    
    
}

.form-control {
    background-color: $darks;
    border: 1px solid #2E3150;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-label {
    font-weight: bold;
}